@font-face
{
    font-family:'haxrcorp';
    src: url('./haxrcorpttf.ttf');
}

@font-face
{
    font-family:'jackeyfont';
    src: url('./jackeyfont.ttf');
}

:root {
    --background: rgb(205, 205, 205);
    --first: rgb(132, 121, 139);
    --second: rgb(121, 139, 126);
    --third: rgb(121, 133, 139);
}

* {
    font-family: haxrcorp, monospace;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
	align-items: center;
	justify-content: center;
	height: 85vh;
    background: var(--background);
	overflow: hidden;
	font-size: 20px;
	transition: .2s;
}

.container {
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: -8rem;
}

.group {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
}

.group p {
    width: 60px;
    margin-right: 35px;
    color: var(--first);
}

.group a {
    color: var(--second);
    margin: 3px 5px 3px 5px;
    text-decoration: none;
    outline: none;
    transition: .2s;
    z-index: 999;
}

a:hover {
    color: var(--third);
}

#greeting {
    color: var(--second);
    margin: 3px 0px 2px 5px;
    text-decoration: none;
    outline: none;
    transition: .2s;
    font-size: 12px;
    font-family: jackeyfont, monospace;
}

#hour,#seconds,#minutes {
    color: var(--second);
    margin: 3px 5px 3px 5px;
    text-decoration: none;
    outline: none;
    transition: .2s;
    font-size: 19px;
}

.group span {
    color: var(--second);
    z-index: 999;
}

img {
    width: 25%;
    position: absolute;
    margin-left: 25rem;
}