/* zaza */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  --bg: rgb(0, 0, 0); /* whatever color your heart desires */
  --fontcolor: rgb(255, 255, 255); /*  you probably want a different color than above */
  --accentcolor1: rgb(0, 175, 254); /* whatever floats your balls */
  --accentcolor2: rgb(0, 145, 254); /* whatever floats your balls */
  --cardhead: rgb(8, 8, 8); /* bollocks itself */
  --cardbg: rgb(0, 0, 0); /* bollocks itself */
  --cardborder: rgb(32, 32, 32); /* bollocks itself */
  --font: 'Source Code Pro', monospace;/* normal font */
  --fontjp: 'Noto Sans JP', sans-serif;/* jp font */
}

/* the webpage */

html, body, .d-flex {
  background-color: var(--bg) !important;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-font-smoothing : none;
  color: var(--fontcolor);
  font-family: var(--font) !important;
  font-weight: 400 !important;
  font-size: 1; /* :skull: */
  font-style: normal;
  font-smooth: never;
}

/* gif */

.vamp {
  max-width: 20rem;
}

/* cards */

.card {
  background-color: var(--bg) !important;
  color: var(--fontcolor) !important;
}

.card .card-body {
  border-bottom: 1px solid var(--cardborder);
  border-left: 1px solid var(--cardborder);
  border-right: 1px solid var(--cardborder);
  border-top: 0px solid var(--cardborder);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card .card-header {
  background-color: rgb(8,8,8);
  border-bottom: 1px solid var(--cardborder);
  border-left: 1px solid var(--cardborder);
  border-right: 1px solid var(--cardborder);
  border-top: 1px solid var(--cardborder);
  color: var(--fontcolor) !important;
  text-align: right;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

/* time */

#hour, #minutes, #seconds {
  color: var(--fontcolor);
}

#hour::after, #minutes::after {
  color: var(--fontcolor);
  content: ' :';
}

/* links */

.link-list {
  justify-content: space-between;
  text-align: center;
}

.link {
  text-decoration: none;
  margin: 0 0 0 0;
  color: var(--accentcolor1);
}

.link:hover {
  text-decoration: none;
  color: var(--accentcolor2);
}

/* greeting */

#greeting {
  font-family: var(--fontjp) !important;
  color: var(--fontcolor);
}