/* zaza */

@import url('./terminus.ttf');

:root {
  --bg: rgb(12,12,12); /* whatever color your heart desires */
  --fontcolor: rgb(204,204,204); /*  you probably want a different color than above */
  --accentcolor: rgb(67,67,89); /* whatever floats your balls */
  --font: 'Terminus (TTF) For Windows', monospace;/* normal font */
  --fontjp: 'jackeyfont', sans-serif; /* japanese font */
  --a: rgb(225,225,225);
  --b: rgb(156, 44, 119);
  --c: rgb(205, 16, 77);
  --d: rgb(225, 77, 42);
  --e: rgb(253, 132, 31);
}

/* the webpage */

html, body {
  font-smooth: never;
  -webkit-font-smoothing : none;
  background-color: var(--bg);
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-font-smoothing : none;
  animation: 
  typing 2s steps(60, end),
  blink-caret .75s step-end infinite;
  color: var(--fontcolor);
  font-family: var(--font) !important;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 1rem; /* :skull: */
  display: grid;
	place-items: center;
}

#home {
  margin-top:-30rem;
  color: var(--accentcolor);
  margin-left: 1px;
}

pre {
  display: inline;
  font-family: var(--font) !important;
}

/* links */

a {
  text-decoration: none;
  margin: 0 0 0 0;
}

#link {
  background: linear-gradient(
    90deg, 
    var(--a) 0% 50%, 
    var(--fontcolor) 50% 100%
  );
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 450ms ease;
  transition-delay: 50ms;
}

#link:hover {
  background-position: 0;
  transition-delay: 0ms;
}

/* logo */

#logo {
  line-height: 0.7rem;
  background: linear-gradient(
    0deg, 
    var(--b) 0% 23%, 
    var(--c) 23% 50%, 
    var(--d) 50% 75%, 
    var(--e) 75% 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font) !important;
  margin-left: -42px;
}

/* greeting */

#greeting {
  background: var(--accentcolor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--fontjp);
  display: inline-block;
  margin: 0 16.1rem 0 0;
  
  font-size: 1.05rem; /* :skull: */
}


/* time */

#hour, #minutes, #seconds {
  margin: 0 0 0 0;
  color: var(--fontcolor);
}

#minutes::before, #seconds::before {
  content: ': ';
  color: var(--accentcolor);
}

/* stupid animation bleh :P */

@keyframes typing {
  from { height: 0 }
  to { height: 100% }
}

/* breaking geneva conventions and commiting warcrimes on scaling BLEEEH :PPP */

@media screen and (max-height: 750px) {
  #home {
    margin-top:-10rem;
  }
}

@media screen and (max-height: 450px) {
  #home {
    margin-top:-2rem;
  }
}