/* omg hii x3 */

@import url("../font/stylesheet.css");

:root {
	/* font name */
	--font: 'Apercu Mono Pro', monospace;

	/* font size */
	--fg-primary: 1.15rem; 
  
	/* font color */
	--fg: #242424; /* foreground color */
	--sfg: #9B9B9B; /* secondary foreground color */
  
	/* colors  */
	--background: #000000; /* background color */
	--sbackground: #1C1C1C; /* 2nd color */
  }



/* 
 	TESAT 
  */

* {
	margin: 0;
	padding: 0;
	font-family: var(--font) !important;
	font-weight: normal !important;
	transition: 0.2s ease-in-out;
	font-size: var(--fg-primary);
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

  /* 
 	TESAT 
  */

  html {
	display: flex;
	flex-flow: row nowrap;  
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	}
  
  body {
	background: var(--background);
	color: var(--fg);
  }

  /* 
 	TESAT 
  */
  
  .container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
  }

  .top_block {
	display: flex;
	flex-direction: column;
	margin-bottom: 2vh;
  }
  
  /* 
 	TESAT 
  */

  .folders_block {
	display: flex;
	justify-content: space-evenly;
  }

  .box {
	width: 266px;
	display: flex;
    height: fit-content;
  }

  .box:not(:last-child) {
	margin-right: 40px;
  }

  .title {
	margin: -40px 0 0 0;
	float: left;
	border-radius: 8px 8px 0 0;
	text-align: left;
	padding: 11px 18px 18px 18px;
	height: fit-content;
  }

  .mask {
	width:40px;
	height:40px;
	border-radius: 8px;
	clip-path: border-box;
	box-shadow: -8px+8px #FFB4A2;
	margin-top: -40px;
	margin-left: 0px;
  }
  
  .links {
	align-items: left;
	padding: 18px;
	position: absolute;
	width: 230px;
	border-radius: 0 8px 8px 8px;
  }

  .links2 {
	margin-top: 0;
	padding: 18px;
	text-align: right;
	position: relative;
	margin-left: auto;
	pointer-events: none;
	opacity: 0.33;
  }
  
  /* 
 	TESAT 
  */
  
  .input_box {
	border: none;
	outline: none;
	background: none;
	margin-left: 8px;
	margin-top: 8px;
	width: 231px;
	height: 32px;
	text-align: left;
	color: var(--sfg);
	-webkit-user-select: auto; /* Safari */
	-ms-user-select: auto; /* IE 10 and IE 11 */
	user-select: auto; /* Standard syntax */
  }
  
  .logo {
	background: var(--background);
	width: 63px;
	height: 32px;
	text-align: center;
	border-radius: 8px;
	margin-left: 8px;
	margin-top: 8px;
	color: var(--sfg)
  }

  form {
	margin: 0px;
	padding: 0px;
  }
  
  .search_box {
	display: flex;
	background: var(--sbackground);
	width: 318px;
	padding: 0px;
	margin-bottom: 40px;
	align-self: center;
	height: 48px;
	border-radius: 8px;
	overflow-x: auto;
	white-space: nowrap;
  }
  
  /* 
 	TESAT 
  */

  li {
	font-size: 16px;
	list-style-type: none;
	padding: 5px
  }
  
  a {
	text-decoration: none;
	color: var(--fg);
  }
