/* currently dying */

@import url("../font/stylesheet.css");

:root {
	/* font stuff */
	--font-family: 'Apercu Mono Pro', monospace;
  --font-size: clamp(16px, 1.6vw, 18px);
  --font-weight-bold: 500;
  --font-weight-normal: 400;

  /* colors  */
  --color-background: #000000;
  --color-text-subtle: #646464;
  --color-text: #9B9B9B;

  /* static  */
  --border-radius: 1rem;
  --space: 1rem;
  --transition-speed: 400ms;
}

/* backend */

html {
  font-family: var(--font-family) !important;
  font-size: var(--font-size) !important;
  letter-spacing: 0.000526em; /* ğ”€ğ“±ğ“¾ğ“± ğ“¯ğ“»ğ“®ğ“ªğ“´ğ”‚ ğ“¯ğ“¸ğ“·ğ“½ */
  line-height: 1.4;
}

body {
  background-color: var(--color-background);
  margin: 0;
}

main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100dvh;
  overflow: hidden;
  padding: calc(var(--space) * 4) var(--space);
  position: relative;
  width: 100vw;
}
