@font-face {
    font-family: 'Sauna Mono Pro';
    src: local('Sauna Mono Pro Regular'), local('Sauna-Mono-Pro-Regular'),
        url('SaunaMonoPro-Regular.woff2') format('woff2'),
        url('SaunaMonoPro-Regular.woff') format('woff'),
        url('SaunaMonoPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }